pandas==2.1.2
requests==2.31.0
geopandas==0.14.0
folium==0.14.0
librosa==0.10.1
moviepy
imageio_ffmpeg
numpy
click
protobuf
pytest
pytsk3
piexif
Pillow
opencv-python
ultralytics
setuptools>=42.0.0
tensorflow
tensorflow_io_gcs_filesystem
tqdm>=4.66.2
psutil>=5.9.0
